.flexbox{
    display: flex;
    flex-direction: row;
    height:100%;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00105E;
    font-size: 100%;
}
body{
    /* background-color: ; */
    height: 100%;
}
div{
    border: 1px solid black;
}
#me{
    border-radius: 100%;
}
*{
    color: white;
    text-decoration: none;
}
#aboutP{
    margin: 2px;
    /* display: flex; */
    /* justify-items: stretch;
    align-items: stretch; */
    align-content: center;
    height: 500px;
    width: 98.5vw;
    background-color: blue;
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 1%;
}
.row{
    display: flex;
    flex-direction: row;

}
.button{
    font-size: 30%;
    color: black;
}